// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Space
.mt-n1 {
    margin-top: -7px !important;
}
.ms-n1 {
    margin-left: -40px !important;
}
.table-responsive {
    max-height:300px;
}
.maca{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

